body{
	margin: 0;
}
header{
	background: #777;
	color: White;
}

header h1{
	margin: 0;
	display: inline-block;
}

nav ul{
	background: #999;
	margin: 0;
	color: black;
	font-family: arial;
	font-size: 24px;
}

nav ul .navLink{
	float: right;
}

nav ul li{

	display: inline-block;
	list-style: none;
	padding: 0px 10px 0px 10px;
}

nav ul li a{
	color: black;
}

.row {

}

.col{
	background: #
	float: left;
}