h1{
	color: black;
	font-family:Tahoma,Geneva,sans-serif;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	font-size: 50px;
}

h2{
	font-family:Tahoma,Geneva,sans-serif;
	font-size: 23px;
	color: black;
}
.home-section{
	height: 855px;
	padding-top: 50px;
	padding-bottom: 0px;
	text-align: center;
	background: url("image/Laptop-HD-Wallpapers-11.jpg") no-repeat center fixed;
	background-size: cover;
}
.about-section{
	position: relative;
	height: 855px;
	padding-top: 50px;
	overflow: hidden;
	
}

.about-section .bg{
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("image/office.jpg");
	width: 100%;
	height: 100%;
	opacity: .6;
}

.portfolio-section{
	padding-top:50px;
	margin: 0 0 15px;
	right:0;
	border: 1px outset rgba(255,255,255,0.6);
}
.portfolio{
	overflow: hidden;
	padding: 7px;
	color: white;
	height: 308px;
}

.portfolio .portfolio-link{
	display: block;
	position: relative;
	max-width: 700px;
	margin: 0 auto;
}
.portfolio .portfolio-link .portfolio-hover{
	background: rgba(0,0,0,.7);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
}

.portfolio .portfolio-link .portfolio-hover:hover{
	opacity: 1;
}

.portfolio .portfolio-link .portfolio-hover .portfolio-content{
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top:50%;
	margin-top: -12px;
	color #fff;
}
#title{
	background: none;
	border: none;
}
.mypanel{
	border: none;
	background: none;
	padding: 0px 15px 0px 15px
}

.topnav {
	font-size: 16:px;
	border-bottom: rgba(192,192,192);
	box-shadow: 0px 1px rgba(65,60,60);
}
.mypanel .heading{
	color: #999;
	text-align: center;
	font-size: 100px;
	text-shadow: 2px 2px #000;
}
.mypanel .heading .body{
	color: white;
	text-shadow: 0px;
	font-size: 50px;
	font-family: 'brush script mt', cursive;
}

.translucent{
	opacity: 0.4;
	filter: alpha(opacity = 40); /* For IE*/
}
.adaptSmallScreen{
	font-size: 5vw;
}

.wrapper{
	text-align: center;
}

.icon-white{
	color: white;
}
.button{
	background: black;
	color: white;
	border-color: white;
	border-width: 2px;
}
#main-nav{
	bottom-margin: 0px; 
}
hr.divider{
	border: 1px outset grey;
	box-shadow: 1px 1px 1px #000;
	width: 1000px;
}
/********max-width 993px***********/
@media only screen and (max-width: 993px){

	.mypanel .heading{

		font-size: 90px;
	}
	.mypanel .heading .body{
		font-size: 45px;
	}

	hr.divider{
		width: 100%
	}
}

/********max-width 767px***********/
@media only screen and (max-width: 767px){

	.mypanel .heading{
		font-size: 60px;
	}
	.mypanel .heading .body{
		font-size: 30px;
	}

	ul.home-buttons > li{
	display: block;
	margin-bottom: 20px;
	padding:0;
}
	ul.home-buttons > li:last-child {
		margin-bottom: 0px;
	}
	.button{
		display: inline-block;
	}
	h1{
	color: black;
	font-family:Tahoma,Geneva,sans-serif;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	font-size: 40px;
	}

h2{
	font-family:Tahoma,Geneva,sans-serif;
	font-size: 20px;
	color: black;
	}
}


/********max-width 640px***********/
@media only screen and (max-width: 640px){

	.mypanel .heading{

		font-size: 35px;
	}
	.mypanel .heading .body{
		font-size: 25px;
	}
h1{
	color: black;
	font-family:Tahoma,Geneva,sans-serif;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	font-size: 30px;
}

h2{
	font-family:Tahoma,Geneva,sans-serif;
	font-size: 15px;
	color: black;
}
}

/********max-width 320px***********/
@media only screen and (max-width: 320px){

	.mypanel .heading{

		font-size: 20px;
	}
	.mypanel .heading .body{
		font-size: 20px;
	}
}