
body{
	background-image: url("image/Laptop-HD-Wallpapers-11.jpg");
	background-size: 1920px 1200px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;	
}

#title{
	background: none;
	border: none;
}
.myPanel{
	margin: 3%;
	background: none;
	border: none;
}

.mypanel .heading{
	color: #999;
	text-align: center;
	font-size: 100px;
	text-shadow: 2px 2px #000;
}
.mypanel .heading .body{
	color: white;
	text-shadow: 0px;
	font-size: 50px;
	font-family: 'brush script mt', cursive;
}

.adaptSmallScreen{
	font-size: 5vw;
}


/********max-width 800px***********/
@media only screen and (max-width: 1000px){

	.mypanel .heading{

		font-size: 90px;
	}
	.mypanel .heading .body{
		font-size: 45px;
	}
}



/********max-width 740px***********/
@media only screen and (max-width: 767px){

	.mypanel .heading{

		font-size: 60px;
	}
	.mypanel .heading .body{
		font-size: 30px;
	}
}


/********max-width 640px***********/
@media only screen and (max-width: 640px){

	.mypanel .heading{

		font-size: 40px;
	}
	.mypanel .heading .body{
		font-size: 25px;
	}
}

/********max-width 320px***********/
@media only screen and (max-width: 320px){

	.mypanel .heading{

		font-size: 20px;
	}
	.mypanel .heading .body{
		font-size: 12px;
	}
}